* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    width: 100%;
    height: 75px;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    top: 0px;
}
#logo {
    height: 50px;
    margin-top: 10px;
    margin-right: 400px;
}
.title {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    color: #999999;
    text-decoration: none;
}
.title2 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    color: #d5d5d5;
    text-decoration: none;
}
.uu-dai {
    color: #999999;
    text-decoration: none;
    margin-right: 10px;
}
.lai-thu {
    color: #999999;
    text-decoration: none;
    margin-left: 10px;
}
#bt-50 {
    text-decoration: none;
    margin-right: 10px;
    color: #d5d5d5;
}
#thuong-hieu {
    text-decoration: none;
    color: #d5d5d5;

}
.title:hover {
    color: white;
}
.uu-dai:hover {
    color: white;
}
.lai-thu:hover {
    color: white;
}
.title2:hover {
    color: white;
}
#bt-50:hover {
    color: white;
}
#thuong-hieu:hover {
    color: white;
}
.top-title {
    margin-top: 10px;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2em;
}
#bottom-title {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.2em;
}
#menu {
    display: flex;
    margin-right: 20px;
    margin-top: 8px;
    color: #999999;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.1em;
}
.partition {
    margin-left: 20px;
    margin-right: 20px;
}
.menu-dropdown {
    color: #999999;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1em;
    display: block;
    border: none;
    background-color: #2b2b2b;
    margin-bottom: 10px;
}
.menu-hover {
    text-align: center;
    height: 400px;
    width: 100%;
    background-color: #d9d9d9;
    overflow: scroll;
    display: none;
    position: absolute;
    top: 75px;
    z-index: 2;
    animation-name: tha-xuong;
    animation-duration: 1s;
}
@keyframes tha-xuong {
    from {
        top: -300px;
    }
    to {
        top: 75px;
    }
}

.menu-hover>p {
    color: #999999;
}
.menu-hover-top-title {
    margin-bottom: 30px;
}
.bottom-title-menu-hover {
    display: block;
    text-decoration: none;
    line-height: 4em;
    color: #999999;
    letter-spacing: 0.1em;
    font-weight: 600;
}
.bottom-title-menu-hover:hover {
    color: #2b2b2b;
}
.san-pham-hover {
    width: 100%;
    height: 500px;
    display: none;
    overflow: scroll;
    position: absolute;
    top: 75px;
    z-index: 2;
    animation-name: tha-xuong;
    animation-duration: 1s;
    background-color: #FFFFFF;
}
.loc-chung-loai {
    height: 50px;
    background-color: #101010;
    padding-top: 10px;
}
.loc-chung-loai>a {
    color: #d5d5d5;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
}
.model-san-pham>div {
    display: flex;
}
.model-san-pham>hr {
    margin-top: 25px;
    margin-bottom: 25px;
}
.chi-tiet-san-pham {
    width: calc(100%/4);
}
.chi-tiet-san-pham>a {
    text-decoration: none;
    color: #2b2b2b;
    font-weight: 600;
}
.chi-tiet-san-pham>a>p {
    text-align: center;
}
.link-lienhe-laithu {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    
}
.link-lienhe-laithu>a {
    text-decoration: none;
    color: #999999;
}
.link-lienhe-laithu>a:hover {
    color: black;
}
.dropdown-cacdactrung {
    display: none;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: #FFFFFF;
    z-index: 1;
    text-align: center;
    animation-name: tha-xuong2;
    animation-duration: 1s;
}
.dropdown-cacdactrung>.border {
    margin-top: 20px;
    width: 40%;
    margin: 20px auto;
}
@keyframes tha-xuong2 {
    from {
        top: -230px;
    }
    to {
        top: 60px;
    }
}
.hienthi {
    display: block;
}
#section1 {
    height: 60px;
    width: 100%;
    padding-top: 5px;
    background-color: #FFFFFF;
    position: fixed;
    top: 75px;
    display: flex;
    justify-content: center;
    z-index: 1;
}
#section1-re {
    height: 60px;
    width: 100%;
    background-color: #FFFFFF;
    letter-spacing: 0.1em;
    font-family: "MazdaType";
    position: fixed;
    top: 75px;
    padding-left: 10px;
    z-index: 1;
}
#link-left {
    margin-top: 13px;
}
.menu-2 {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.17em;
    color: #999999;
    margin-top: 30px;
}
.menu-2:hover {
    color: black;
}
.partition2 {
    margin-left: 10px;
    margin-right: 10px;
}
.border {
    display: block;
    border: solid 2px black;
    padding: 12px 22px;
    width: 170px;
    height: 50px;
    margin-left: 275px;
}
.border:hover {
    background-color: #999999;
    border: #999999;
}
.bao-gia {
    text-decoration: none;
    color: #999999;
    font-weight: 600;
}
.bao-gia:hover {
    color: #FFFFFF;
}
#section2 {
    width: 100%;
    height: 350px;
    background-color: #2b2b2b;
    margin-top: 100px;
    text-align: center;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
}
#st2-top {
    color: #FFFFFF;
    letter-spacing: 0.2em;
    margin-top: 30px;
}
#st2-center {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 30px;
}
.st2-bottom {
    color: #999999;
    font-size: 18px;
    letter-spacing: 0.1em;
}
.st2-bottom:hover {
    color: black;
}
#cong-nghe {
    margin-left: 20px;
    margin-right: 10px;
}
#van-hanh {
    margin-left: 10px;
    margin-right: 20px;
}
.design-performance {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.2em;
}
.inner-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
}
.inner-wrapper-imgcontent {
    width: calc(100%/3);
}
.container-img-cx5 {
    overflow: hidden;
    width: 97%;
}
.img-cx5 {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    transition: transform 3s;
   
}
.h1-wrapper {
    font-size: 18px;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 17px;
}
.p-wrapper {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 0.1em;
}
.img-cx5:hover {
    transform: scale(1.1, 1.1);
}
/*
*/
.section4-6 {
    background-color: #2b2b2b;
    width: 100%;
    height: 750px;
    overflow: hidden;
}
.title-st4-6 {
    width: 100%;
    height: 116px;
    padding-top: 20px;
    text-align: center;
}
.title-st4-6>h1 {
    color: #FFFFFF;
    font-size: 25px;
    letter-spacing: 0.2em;
}
.img-content-st4-6 {
    display: flex;
}
.img-st4-6 {
    width: 50%;
    height: 48vw;
    position: relative;
    overflow: hidden;
}
.img-st4-6>img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
.content-st4-6 {
    width: 50%;
    padding-left: 70px ;
    padding-right: 70px;
    padding-top: 70px;
}
.content-st4-6>h1 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin-bottom: 30px;
}
.content-st4-6>p {
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 1.5;
}
.content-st4-6>a {
    display: block;
    width: 200px;
    height: 50px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    padding-top: 10px ;
    color: #999999;
    border: solid 2px #999999;
}
.content-st4-6>a:hover {
    color: white;
    border: solid 2px white;
}
footer {
    background-color: #2b2b2b;
    color: #999999;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.footer1 {
    width: 350px;
    margin-right: 20px;
}
.footer1>p {
    font-size: 13px;
    line-height: 2em;
    letter-spacing: 0.1em;
}
.footer-title {
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: 0.2em;
}
.san-pham {
    display: block;
    text-decoration: none;
    color: #999999;
    line-height: 2em;
    font-size: 13px;
    letter-spacing: 0.1em;
}
#dich-vu {
    margin-left: 100px;
    margin-right: 20px;
}
.link-mxh>img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#ytb {
    margin-left: 10px;
    margin-right: 10px;
}
.app-mazda-service {
    display: flex;
}
.qr-app-mazda>img {
    width: 70%;

}
.appstore-ggplay {
    display: block;
    width: 20vh;
    height: 35px;
    margin-left: -20px;
}
.ggplay {
    margin-top: 0px;
}
.appstore {
    margin-top: 15px;
}
#section6 {
    background-color: #101010;
}
@media only screen and (max-width: 1200px) {
    .content-st4-6 {
        padding-top: 0px;
        padding-left: 20px;
    }
    header {
        justify-content: space-between;
    }
    #logo {
        margin-right: auto;
        margin-left: 5px;
    }
    #link-left {
        margin-left: 5px;
    }
    .section1 {
        justify-content: space-between;
    }
    .border {
        margin-left: auto;
    }
    #section2 {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media only screen and ( max-width:1024px ) {
    .top-title, #bottom-title {
        display: none;
    }
    .section4-6 {
        height: auto;
    }
    .img-content-st4-6 {
        display: block;
        padding-bottom: 10px;
    }
    .img-st4-6 {
        width: 100%;
        height: 80vw;
    }
    .content-st4-6 {
        width: 100%;
    }
    #section6 {
        height: auto;
        padding-bottom: 20px;
    }
    .appstore-ggplay {
        width: 13vh;
        height: 30px;
    }
}
@media only screen and (max-width: 950px) {
    #section1 {
        display: none;
    }
    .inner-wrapper {
        display: block;
    }
    .inner-wrapper-imgcontent {
        width: 100%;
    }
    .container-img-cx5 {
        width: 100%;
    }
    footer {
        padding-left: 0px;
        padding-right: 0px;
    }
    #dich-vu {
        margin-left: 0;
    }
    .footer1 {
        width: 30%;
    }
}
@media only screen and (max-width: 700px) {
    #section2 {
        height: auto;
    }
    .st2-bottom {
        display: none;
    }
    footer {
        justify-content: space-between;
    }
}
@media only screen and (max-width: 595px) {
    .appstore-ggplay {
        width: 11vh;
    }
    .model-san-pham>div {
        display: block;
    }
    .chi-tiet-san-pham {
        width: 100%;
    }
}
@media only screen and (max-width: 530px) {
    .appstore-ggplay {
        width: 8vh;
    }
}
@media only screen and (max-width: 500px) {
    footer {
        display: block;
    }
    .footer1 {
        width: 100%;
    }
    #dich-vu {
        margin-left: 0px;
    }
    .appstore-ggplay {
        height: 40px;
        width: 20vh;
    }
    .border {
        height: auto;
    }
    .dropdown-cacdactrung>.border {
        width: 80%;
    }
}
@media only screen and (max-width: 400px) {
    #logo {
        margin-left: 0px;
    }
    #section2 {
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media only screen and (min-width: 970px) {
    #section1-re {
        display: none;
    }
}
@media only screen and ( min-width:1025px) {
    #menu {
        display: none;
    }
    
}